<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cookie.css">
    <title>Cookies</title>
</head>

<body>

    <main>
        <div class="cookie-banner">
            <div class="cookie-content">
                <p>
                    🍪 <strong>Avis de confidentialité</strong>
                    Nous utilisons uniquement des
                    <strong>cookies fonctionnels</strong>
                    Nécessaires au bon fonctionnement du site (authentification, session).
                    Aucun cookie publicitaire ni de suivi n'est utilisé. Aucune donnée
                    n'est vendue à des tiers.
                    <a href="/#/privacy" class="link"></a>
                </p>
                <div class="button-group">
                    <button class="refuse-cookie">
                        Refuser
                    </button>
                    <button class="accept-cookie">
                        Accepter
                    </button>
                </div>
            </div>
        </div>
    </main>

</body>

</html>