* {
    background-color: black;
    box-sizing: border-box;
}

/*PARTIE HEADER*/

.logo {
    border-bottom: 2px solid #d4af37;
}

.nav-header {
    text-align: center;
    
}

.nav-barre-home-page {
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
    border-bottom: 2px solid #d4af37;
}

.nav-barre-home-page li {
    color: white;
    display: inline-flex;
    text-align: right;
    padding: 0%;
    /*padding 0% + margin 0% + list style none : permet de supprimer les puces*/
    margin-left: 20px;
    list-style: none;
    margin-bottom: 10px;
}

/*FIN HEADER*/
